@charset "utf-8";
body {
    margin:20px;
    font-family: 'azuki';
}

p{
    font-weight:bold;
}

#wrapper{
    padding-top: 50px;
    padding-bottom:0px;
    margin:0px auto;
    width: 1000px;
    border-radius:20px;
    background-color: #ffffff;
    overflow:auto;
}

.center {
    /*position: absolute;*/
    top: 20px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: 0 auto;
    height: 50%;
    text-align: center;
}

.san {
    width:256px;
    height:256px;
}

.center2 {
    /*position: absolute;*/
    margin: 0 auto;
    height: 50%;
    max-width: 84%;
    text-align: center;

}

.tagselect{
    border-radius: 7px;
    font-family: 'azuki';
    border: 1px solid #ccc;

}

input#upload{
    color: #ffffff;
    background-color: #ff7f50;
    border-radius: 7px;	
    border: 1px solid #ccc;
}
input#move{
    color: #ffffff;
    background-color: #ff7f50;
    border-radius: 7px;
    border: 1px solid #ccc;

}

#dropAria{
    width:871px;
    height:234px;
    border:1px dashed black;
    margin: 25px auto;
}

#fileView{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}
.view-contaier{
    width:120px;
    height:120px;
    border: 1px solid #555555;
    overflow: auto;
}
.view-contaier div{
    /*width: 100px;
    margin: 0 auto;*/
}
.view-contaier span{
    font-size:25px;
    margin: 0 auto;
}
.view-contaier div img{
    width:77px;
    height:auto;
    margin-top:20px; 
}
.view-contaier div video{
    width:90px;
    height:auto;
    margin: 0 auto;
}
.view-contaier div span{
    width:100px;
    height:auto;
    margin: 0 auto;
}
/*チェックの柄*/
.file{
    border-image: url("../img/fileback.jpg")100 ;
    border-style:solid;
    border-width:15px; 
}


@font-face{
	font-family: 'azuki';
	src: url(../fonts/azuki.ttf);
}

#loading{
    width:200px;
    height:100px;
    margin:0;
    padding:0;
    z-index: 2;
    position: fixed;
    display: none;
    background-color: #ffffff;
    overflow: auto;
}
#modal-backimage{
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}
#loading span{
    display: block;
    margin:10px auto 0;
    width:80%;
    font-size: 20px;
    text-align: center;
}
#loading div{
    width:24px;
    height:24px;
    margin:10px auto;
}
#loading div img{
    width:24px;
    height: auto;
}
